$tab: 992px;
$sp: 768px;

//※いじらない　テンプレートから引き継いだもの
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  background-color: #354053;
}

.form-bg {
  background-color: #354053;
}

.nav-pills .nav-link.active {
  background-color: #354053;
}

//ここから編集
body {
  font-size: .875rem;
  -webkit-print-color-adjust: exact;
}

header {
  background-color: #346cb0;
  min-height: 50px;
  
  .header-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;

    a{
      color: #fff;
    }
  }
}

//nav
nav {
  .nav-side {
    background: #354053;

    a{
      color: #8391a2;
    }

    p {
      font-size: 12px;
    }
  }

  .nav-a-size {
    height: 75px;
    width: 80px;
    display: block;
  }

  .item-sample {
    p {
      color: black;
    }

    a{
      text-decoration: none;
    }

    &:hover{
      box-shadow: 0 0 4px gray;
    }
  }

  .search{
    width: 90%;
  }

  .search-item-height{
    width:100%; 
    height: 86vh;
  }
  
  #all_show_result {
    list-style: none;
    padding-left: 5px;
  }

  .nav_sample_img img{
    width :120px;
    height: 90px;
  }

  .creator-font-12px {
    font-size: 12px;
  }

  .view_more {
    margin-bottom: 50px;
  }

  .template {
    list-style: none;

    a{
      color: black;
      text-decoration: none;
    }

    &:hover{
      box-shadow: 0 0 4px gray;
    }

  }
  
  #template_list .nav_template_img img{
    width: 100%;
  }
  
}

//main
main {
  background-color: #f6f7f9;

  .item {
    margin-top: 10px;
    padding-top: 5px;
    position: relative;
   }

  .item-delete-btn{
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border: none;
    color: gray;
  }

  .preview-scroll-size {
    width:100%; 
    height: 91.5vh;
  }

  #preview {
    background-size: contain;
    background-color: white;
    height: 830px;
    width: 550px;
    min-width: 550px;
    color: black;
    box-shadow: 0 0 8px gray;
    font-size: 20px;
    padding: 1.5rem 1.2rem 1.5rem 0.7rem;

    .position-top-right {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      margin-top: 12px;
      text-decoration: underline
    }

    h1{
      font-size: 35px;
    }

    pre {
      white-space: pre-wrap;
      border: none;
    }

    .contents1-h1 {
      font-size: 45px;
    }

    .contents3 {
      .preview-name {
        margin-left: 71px;
        margin-right: 71px;
        font-size: 18px;
      }

      ol {
        font-size: 14px;
      }

      img{
        max-width: 256px;
        max-height: 200px;
      }
    }
    
    .contents2 {
      img {
        max-width: 310px;
        max-height: 240px;
      }

      p {
        font-size: 22px;
      }

      ol{
        font-size: 17px;  
        padding-left: 50px;
      }

      .position-top-right {
        top: 22px;
        font-size: 16px;
      }
    }
    
    .contents1 {
      padding-top: 48px;

      img{
        max-width: 450px;
        max-height: 340px;
      }

      p{
        font-size: 25px;
      }

      ol{
        font-size: 22px;
      }

      .position-top-right {
        top: 75px;
        font-size: 17px;
      }
    }
  }
}

.print-preview {
  display: none;
  color: black;
}

// タブレットレイアウト
@media (max-width: ($tab)) {
  main{
    .responsive-mb {
      margin-bottom: 60px;
    }

    .item {
      padding-top: 5px;
    }

/* 　previewの調整 */
    #preview {
      height: 545px;
      width: 352px;
      min-width: 352px;
      padding: 0.25rem;

      h1{
        font-size: 25px;
        margin-top: 10px;
      }

      .contents3-d-flex {
        padding: 12px 0px 0px;
      }

      .contents1-h1 {
        font-size: 30px;
        margin-top: 10px;
      }

      .contents3 {
        img{
          max-width: 140px;
          max-height: 106px;
        }

        .preview-name {
          font-size: 15px;
          margin: 0px;
        }

        ol {
          font-size: 10px;
          padding: 0 0 0 20px;
        }

        .position-top-right {
          top: 10px;
          right: 5px;
          font-size: 12px;
        }

        .item-delete-btn {
          top: -18px;
        }
      }

      .contents2 {
        img{
          max-width: 195px;
          max-height: 150px;
        }

        p{
          font-size: 16px;
        }

        ol{
          font-size: 12px;
          padding-left: 40px;
        }

        .position-top-right {
          font-size: 12px;
        }

        .contents3-d-flex {
          padding: 0px;
        }

        .item-delete-btn {
          top: -15px;
        }

        .item {
          margin-top: 0px;
        }
      }

      .contents1 {
        padding-top: 20px;

        img{
          max-width: 270px;
          max-height: 210px;
        }

        p{
          font-size: 22px;
        }

        ol{
          font-size: 16px;
          padding-left: 30px;
        }

        .position-top-right {
          font-size: 14px;
          top: 45px;
        }

        .contents3-d-flex {
          padding: 0px;
        }

        .item-img {
          margin-top: 8px!important;
        }
      }
    }
  }
}

/* スマホレイアウト */
@media (max-width: ($sp)) {
  
  header .navbar-brand {
    background-color: transparent;
    box-shadow: none;
  }

  .hamburger-nav {
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding-bottom: 60px;
  }

  .hamburger-menu {
    width: 100%;
    text-align: center;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    background-color: rgba(42, 42, 42, 0.7);
  }

  .menu-trigger {
    width: 100%;
    padding-top: 14px;
    display: inline-block;
    position: relative;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;

    p {
      color: #fff;
      font-size: 20px;
    }

    span {
      display: inline-block;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000;
      transition: all .5s .2s;
    }

    .active span {
      background-color: #fff;
    }

    span:nth-of-type(1) {
      top: 0;
    }

    .active span:nth-of-type(1) {
      transform: translateY(12px) rotate(-45deg);
    }

    span:nth-of-type(2) {
      top: 12px;
    }

    .active span:nth-of-type(2) {
      opacity: 0;
    }

    span:nth-of-type(3) {
      bottom: 0;
    }

    .active span:nth-of-type(3) {
      transform: translateY(-12px) rotate(45deg);
    }
  }

  /* navの色調整 */
  nav{
    .item-sample p, .btn, .template a{
      color: #fff;
    }
    .nav-side {
      background: none;
    }
  }

  .form-control-dark, .form-bg {
    background-color: #fff;
  }

/* スクロールの調整 */
  .search-item-height {
    height: 50vh; 
  }

  .view_more {
    margin-bottom: 400px;
    color: #fff;
  }

}
//IEのプリント編集
@media print{   
  .noprint {
    display: none;
  }

  .print-preview {
    display: block;
    background-size: cover;
    width: 290mm!important;
    height: 415mm!important;
    padding: 0mm 10mm!important;

    h1{
      font-size: 80px;
      padding: 10px;
    }

    pre {
      border: none;
    }

    _:-ms-lang(x),.contents3 {
      p{
        font-size: 42px!important;
        padding-top: 10px!important;
        padding-bottom: 0px;
        position:relative;
      }

      ol{
        font-size: 32px!important; 
        padding-left: 70px!important;
        margin-top: 15px!important;
      } 

      img{
        max-width: 520px!important;
        max-height: 390px!important;
        padding-left: 15px;
        padding-right: 15px;
      }

      .position-top-right {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 35px !important;
        margin: 20px 0 ;
        text-decoration: underline;
      }
    }

    .contents2 {
      p{
        font-size: 50px!important;
        padding-top: 10px!important;
        padding-bottom: 0px;
      }

      img{
        margin: 0;
        max-width: 634px!important;
        max-height: 475px!important;
      }      

      p{
        font-size: 60px;
        padding-top: 20px;
        padding-bottom: 0px;
      }

      ol{
        font-size: 34px!important; 
        padding-left: 70px!important;
        margin-top: 15px!important;
      } 

      .position-top-right {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 35px !important;
        margin: 35px 0 ;
        text-decoration: underline;
      }
    }

    .contents1{
      img{
        margin-top: 45px;
        max-width: 1000px;
        max-height: 750px;
      }
  
      p{
        font-size: 70px;
        padding-top: 80px;
        padding-bottom: 0px;
      }

      ol{
        font-size: 45px!important; 
      } 

      .position-top-right {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 46px !important;
        margin: 85px 0 ;
        text-decoration: underline
      }
    }
  }
} 